@font-face {
    font-family: 'Garnett';
    src: url('~@/assets/fonts/Garnett-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Mono';
    src: url('~@/assets/fonts/DMMono-Regular.ttf') format('truetype');
}